*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes animateText1 {
  0% {
    font-size: 0; }
  100% {
    font-size: 30px; } }

@keyframes animateText1 {
  0% {
    font-size: 0; }
  100% {
    font-size: 30px; } }

@-webkit-keyframes animateText2 {
  0% {
    font-size: 0; }
  100% {
    font-size: 70px; } }

@keyframes animateText2 {
  0% {
    font-size: 0; }
  100% {
    font-size: 70px; } }

@-webkit-keyframes animateText3 {
  0% {
    font-size: 0; }
  100% {
    font-size: 64px; } }

@keyframes animateText3 {
  0% {
    font-size: 0; }
  100% {
    font-size: 64px; } }

@-webkit-keyframes animateIcons {
  0% {
    font-size: 0; }
  100% {
    font-size: 20px; } }

@keyframes animateIcons {
  0% {
    font-size: 0; }
  100% {
    font-size: 20px; } }

body {
  margin: 0;
  background-color: #F8F9FD; }

main {
  margin: 0 auto;
  position: relative; }

.nav-bar {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-animation: 1s ease-out 0s 1 slideInFromTop;
  animation: 1s ease-out 0s 1 slideInFromTop; }

.header {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-logo {
  width: 100px;
  cursor: pointer; }

.right-side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px; }

.fa-bell {
  opacity: 25%;
  cursor: pointer; }
  .fa-bell:hover {
    opacity: 45%; }

.avatar-img {
  border-radius: 50%;
  background-color: #F89027;
  color: #fff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer; }

.hide {
  display: none; }

.hide + label ~ .avatar-popup {
  display: none; }

.hide:checked + label + .avatar-popup {
  display: block; }

.avatar-popup {
  position: absolute;
  top: 36px;
  left: -71px;
  width: 131px;
  height: 100px;
  padding: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 62px 2px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 2px 62px 2px rgba(0, 0, 0, 0.31);
  cursor: pointer; }
  .avatar-popup__header {
    text-align: center;
    border-bottom: 1px solid #a3a2a2;
    margin-bottom: 5px;
    padding: 5px;
    color: #a3a2a2; }
  .avatar-popup__list {
    list-style: none;
    color: #000; }
  .avatar-popup__item {
    padding: 3px;
    margin-bottom: 5px; }
  .avatar-popup__item:hover {
    padding: 3px;
    background: #f5f4f4; }

.main-content {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px; }

.grid-container {
  height: 100vh;
  width: 100%;
  display: grid; }
  .grid-container__column {
    cursor: pointer; }

.column1 {
  grid-column: 1;
  grid-row: 1 / span 4; }

.column2 {
  grid-column: 1;
  grid-row: 5 / span 4; }

.column3 {
  grid-column: 2;
  grid-row: 1 / span 6; }

.column4 {
  grid-column: 2;
  grid-row: 7 / span 2; }

.column5 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 3; }

.column6 {
  grid-column: 3 / span 2;
  grid-row: 4 / span 5; }

.column7 {
  grid-column: 5 / span 1;
  grid-row: 4 / span 2; }

.column8 {
  grid-column: 5 / span 1;
  grid-row: 6 / span 2; }

.column9 {
  grid-column: 5 / span 1;
  grid-row: 8 / span 1; }

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .flip-card-container {
    width: 100%;
    height: 100%;
    -webkit-perspective: 1000px;
    perspective: 1000px; }
    .flip-card-container:hover .flip-card {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
  .flip-card__front, .flip-card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flip-card__front {
    background-color: #fff;
    color: #fff; }
  .flip-card__back {
    background-color: #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-weight: bold;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px; }

.transform-card {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden; }
  .transform-card__back {
    height: 100%;
    width: 100%; }
    .transform-card__back p {
      position: absolute;
      padding: 10px;
      font-weight: bold;
      overflow-y: auto;
      height: 100%; }
  .transform-card__front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff; }
  .transform-card:hover .block-front__java {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    font-size: 0; }
  .transform-card:hover .block-front__net {
    -webkit-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    font-size: 0; }
  .transform-card:hover .block-front__php {
    -webkit-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
    font-size: 0;
    color: #000; }
  .transform-card:hover .block-front__events {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    font-size: 0; }
  .transform-card:hover .block-front__blog {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    font-size: 0; }
  .transform-card:hover .block-front__contacts {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    font-size: 0; }

.block-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .block-front__qa {
    background-color: #58BF7B;
    font-size: 55px; }
  .block-front__js {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #F6CD71;
    color: #000;
    font-weight: 700;
    font-size: 70px; }
    .block-front__js span {
      padding: 10px; }
  .block-front__java {
    background: #C62946;
    -webkit-animation: .2s ease-out animateText1;
    animation: .2s ease-out animateText1;
    font-size: 30px; }
  .block-front__net {
    background-color: #632475;
    -webkit-animation: .2s ease-out animateText2;
    animation: .2s ease-out animateText2;
    font-size: 70px; }
  .block-front__php {
    background-color: #8894BE;
    font-style: italic;
    color: #000;
    -webkit-animation: .2s ease-out animateText3;
    animation: .2s ease-out animateText3;
    font-size: 65px; }
  .block-front__events {
    background-color: #389CFC;
    color: #fff; }
  .block-front__blog {
    background-color: #0A4297;
    color: #fff; }
  .block-front__contacts {
    background-color: #03204C;
    color: #fff; }

.block-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-weight: bold; }
  .block-back__logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .block-back__logo .btn-join {
      border-radius: 3px;
      background-color: #389CFC;
      color: #fff;
      border: none;
      padding: 7px 20px;
      cursor: pointer; }
      .block-back__logo .btn-join:hover {
        background-color: #2974bb; }
  .block-back__events p, .block-back__blog p {
    font-weight: normal;
    font-size: 14px; }
  .block-back__contacts .icons {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .block-back__contacts .fab {
    margin-right: 10px;
    font-size: 22px; }
    .block-back__contacts .fab:last-child {
      margin-right: 0; }
    .block-back__contacts .fab:hover {
      color: #297FC8; }

.message-container {
  max-width: 180px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 526px;
  right: 8px;
  cursor: pointer; }
  .message-container__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
    padding: 15px; }
    .message-container__item.error {
      background-color: rgba(169, 82, 76, 0.8);
      margin-bottom: 7px; }
    .message-container__item.success {
      background-color: rgba(87, 129, 86, 0.8); }
    .message-container__item span {
      font-weight: bold;
      margin-bottom: 7px; }
    .message-container__item .icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .message-container__item .fas {
      font-size: 20px;
      width: 30px;
      -webkit-animation: .2s ease-out animateIcons;
      animation: .2s ease-out animateIcons; }

@media screen and (max-width: 960px) {
  .main-content,
  .header {
    max-width: 790px; }
  .column1 {
    grid-column: 1 / span 5;
    grid-row: 1 / span 8; }
  .column2 {
    grid-column: 1 / span 6;
    grid-row: 13 / span 4; }
  .column3 {
    grid-column: 6 / span 4;
    grid-row: 1 / span 8; }
  .column4 {
    grid-column: 1 / span 6;
    grid-row: 9 / span 4; }
  .column5 {
    grid-column: 7 / span 5;
    grid-row: 9 / span 4; }
  .column6 {
    grid-column: 7 / span 5;
    grid-row: 13 / span 4; }
  .column7 {
    grid-column: 10 / span 2;
    grid-row: 1 / span 3; }
  .column8 {
    grid-column: 10 / span 2;
    grid-row: 4 / span 3; }
  .column9 {
    grid-column: 10 / span 2;
    grid-row: 7 / span 2; } }

@media screen and (max-width: 800px) {
  .main-content,
  .header {
    max-width: 500px; } }
