@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animateText1 {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 30px;
    }
}

@keyframes animateText2 {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 70px;
    }
}

@keyframes animateText3 {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 64px;
    }
}

@keyframes animateIcons {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 20px;
    }
}