@media screen and (max-width: 960px) {

    .main-content,
    .header {
        max-width: 790px;
    }

    .column1 {
        grid-column: 1 / span 5;
        grid-row: 1 / span 8;
    }

    .column2 {
        grid-column: 1 / span 6;
        grid-row: 13 / span 4;
    }

    .column3 {
        grid-column: 6 / span 4;
        grid-row: 1 / span 8;
    }

    .column4 {
        grid-column: 1 / span 6;
        grid-row: 9 / span 4;
    }

    .column5 {
        grid-column: 7 / span 5;
        grid-row: 9 / span 4;
    }

    .column6 {
        grid-column: 7 / span 5;
        grid-row: 13 / span 4;
    }

    .column7 {
        grid-column: 10 / span 2;
        grid-row: 1 / span 3;
    }

    .column8 {
        grid-column: 10 / span 2;
        grid-row: 4 / span 3;
    }

    .column9 {
        grid-column: 10 / span 2;
        grid-row: 7 / span 2;
    }
}

@media screen and (max-width: 800px) {

    .main-content,
    .header {
        max-width: 500px;
    }
}