@import 'reset';
@import 'fonts';
@import 'var';
@import 'animations';

body {
    margin: 0;
    background-color: $color1;
}

main {
    margin: 0 auto;
    position: relative;
}

.nav-bar {
    background-color: $color2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.header {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 100px;
    cursor: pointer;
}

.right-side {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}

.fa-bell {
    opacity: 25%;
    cursor: pointer;

    &:hover {
        opacity: 45%;
    }
}

.avatar-img {
    border-radius: 50%;
    background-color: $color3;
    color: $color2;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.hide {
    display: none;
}

.hide+label~.avatar-popup {
    display: none;
}

.hide:checked+label+.avatar-popup {
    display: block;
}

.avatar-popup {
    position: absolute;
    top: 36px;
    left: -71px;
    width: 131px;
    height: 100px;
    padding: 8px;
    background-color: $color2;
    box-shadow: 0px 2px 62px 2px $color4;
    cursor: pointer;

    &__header {
        text-align: center;
        border-bottom: 1px solid $color5;
        margin-bottom: 5px;
        padding: 5px;
        color: $color5;
    }

    &__list {
        list-style: none;
        color: $color6;
    }

    &__item {
        padding: 3px;
        margin-bottom: 5px;
    }

    &__item:hover {
        padding: 3px;
        background: $color7;
    }
}

// GRID-STYLES

.main-content {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.grid-container {
    height: 100vh;
    width: 100%;
    display: grid;

    &__column {
        cursor: pointer;
    }
}

.column1 {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.column2 {
    grid-column: 1;
    grid-row: 5 / span 4;
}

.column3 {
    grid-column: 2;
    grid-row: 1 / span 6;
}

.column4 {
    grid-column: 2;
    grid-row: 7 / span 2;
}

.column5 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3;
}

.column6 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 5;
}

.column7 {
    grid-column: 5 / span 1;
    grid-row: 4 / span 2;
}

.column8 {
    grid-column: 5 / span 1;
    grid-row: 6 / span 2;
}

.column9 {
    grid-column: 5 / span 1;
    grid-row: 8 / span 1;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;

    &-container {
        width: 100%;
        height: 100%;
        perspective: 1000px;

        &:hover {
            .flip-card {
                transform: rotateY(180deg);
            }
        }
    }

    &__front,
    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__front {
        background-color: $color2;
        color: $color2;
    }

    &__back {
        background-color: $color2;
        transform: rotateY(180deg);
        font-weight: bold;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
    }
}

.transform-card {
    position: relative;
    width: 100%;
    height: 100%;
    background: $color2;
    overflow: hidden;

    &__back {
        height: 100%;
        width: 100%;

        p {
            position: absolute;
            padding: 10px;
            font-weight: bold;
            overflow-y: auto;
            height: 100%;
        }
    }

    &__front {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        padding: 5px;
        transition: all 0.5s;
        color: $color2;
    }

    &:hover {
        .block-front__java {
            transform: translateY(100%);
            font-size: 0;
        }

        .block-front__net {
            transform: translate(100%, 100%);
            font-size: 0;
        }

        .block-front__php {
            transform: translate(100%, -100%);
            font-size: 0;
            color: $color6;
        }

        .block-front__events {
            transform: translateX(100%);
            font-size: 0;
        }

        .block-front__blog {
            transform: translateX(100%);
            font-size: 0;
        }

        .block-front__contacts {
            transform: translateX(100%);
            font-size: 0;
        }
    }
}

.block-front {
    display: flex;

    &__qa {
        background-color: $color8;
        font-size: 55px;
    }

    &__js {
        justify-content: flex-end;
        align-items: flex-end;
        background-color: $color9;
        color: $color6;
        font-weight: 700;
        font-size: 70px;

        span {
            padding: 10px;
        }
    }

    &__java {
        background: $color12;
        animation: .2s ease-out animateText1;
        font-size: 30px;
    }

    &__net {
        background-color: $color13;
        animation: .2s ease-out animateText2;
        font-size: 70px;
    }

    &__php {
        background-color: $color14;
        font-style: italic;
        color: $color6;
        animation: .2s ease-out animateText3;
        font-size: 65px;
    }

    &__events {
        background-color: $color15;
        color: $color2;
    }

    &__blog {
        background-color: $color16;
        color: $color2;
    }

    &__contacts {
        background-color: $color17;
        color: $color2;
    }
}

.block-back {
    display: flex;
    color: $color6;
    font-weight: bold;

    &__logo {
        justify-content: center;
        align-items: center;

        .btn-join {
            border-radius: 3px;
            background-color: $color10;
            color: $color2;
            border: none;
            padding: 7px 20px;
            cursor: pointer;

            &:hover {
                background-color: $color11;
            }
        }
    }

    &__events,
    &__blog {
        p {
            font-weight: normal;
            font-size: 14px;
        }
    }

    &__contacts {
        .icons {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fab {
            margin-right: 10px;
            font-size: 22px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $color18;
            }
        }
    }

}

.message-container {
    max-width: 180px;
    width: 100%;
    color: $color2;
    font-size: 14px;
    position: fixed;
    top: 526px;
    right: 8px;
    cursor: pointer;

    &__item {
        width: 100%;
        display: flex;
        border-radius: 2px;
        padding: 15px;

        &.error {
            background-color: $color20;
            margin-bottom: 7px;
        }

        &.success {
            background-color: $color21;
        }

        span {
            font-weight: bold;
            margin-bottom: 7px;
        }

        .icon {
            display: flex;
            align-items: center;
        }

        .fas {
            font-size: 20px;
            width: 30px;
            animation: .2s ease-out animateIcons;
        }
    }
}

@import "media";